{% extends 'excel_info/index.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    


    <div class="col-md-12">
    
            <div class="row">
                <div class="col-md-2">
    
                </div>
                <div class="col-md-10">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">
                                <label>
                                    <h4>Files  :</h4>
                                </label>
                            </div>
                            <div class="list-group">
                                {% for file in file_list %}
                                <a href="{% url 'file_details' file.id %}" class="list-group-item">
                                    {{file.file_name}}
                                </a>
                                {% endfor %}
                            
                            </div>
                            
                        </div>
                    </div>
                   
    
                </div>
            </div>
    
    </div>




</body>
{% endblock %}
</html>
